<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <script type="text/javascript" src="/javascript/toggle.js"></script>

    <main role="main" class="container">
        <center>
            <% blocks.forEach(block => { %>
                <div class="card" style="width: 50%;">
                    <div class="card-body">
                        <p class="card-text">
                            <b>Hash</b>: <%= block.hash %> <br />
                            <b>Hash of previous block</b>: <%= block.prevHash %> <br />
                            <div class="dropdown">
                                <button class="btn btn-dark">Transactions</button>
                                <div class="dropdown-content">
                                    <p>
                                        <a href="/user/<%= block.transactions[0].sender %>"><%= block.transactions[0].sender %></a>
                                        <b> sent: </b>
                                        <% if(Array.isArray(block.transactions[0].sender_data)) { %>
                                           <% block.transactions[0].sender_data.forEach(drawing => { %>
                                                <a href="/drawing/<%= drawing %> "><%= drawing %> </a>     
                                            <% }) %>
                                        <% } else   { %>
                                            <a href="/drawing/<%= block.transactions[0].sender_data %> "><%= block.transactions[0].sender_data %> </a>
                                        <% } %>
                                        <hr>
                                        <a href="/user/<%= block.transactions[1].recipient %>"><%= block.transactions[1].recipient %></a>
                                        <b> sent: </b>
                                        <% if(Array.isArray(block.transactions[1].receiver_data)) { %>
                                            <% block.transactions[1].receiver_data.forEach(drawing => { %>
                                                 <a href="/drawing/<%= drawing %> "><%= drawing %> </a>     
                                             <% }) %>
                                         <% } else   { %>
                                             <a href="/drawing/<%= block.transactions[1].receiver_data %> "><%= block.transactions[1].receiver_data %> </a>
                                         <% } %>
                                    </p>
                                </div>
                            </div>     
                        </p>
                    </div>
                </div> <br />
            <% }) %>
        </center>
    </main>
</body>

</html>
