<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <script type="text/javascript" src="/javascript/toggle.js"></script>

    <main role="main" class="container">
        <center>
            <% blocks.forEach(block => { %>
                <div class="card" style="width: 50%;">
                <div class="card-body">
                    <p class="card-text">
                        <b>Hash</b>: <%= block.hash %> <br />
                        <b>Hash of previous block</b>: <%= block.prevHash %> <br />

                        <div class="dropdown">
                            <button class="btn btn-dark">Dropdown</button>
                            <div class="dropdown-content">
                                <p>
                                    <b> Traders: </b>
                                    <a href="/user/<%= block.transactions[0].sender %> %>"><%= block.transactions[0].sender %></a>
                                    <b> and </b>
                                    <a href="/user/<%= block.transactions[0].recipient %>"><%= block.transactions[0].recipient %></a>
                                </p>
                            </div>
                        </div>
                          
                    </p>
                </div>
                </div>
            <% }) %>
        </center>
    </main>
</body>

</html>
