<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <main role="main" class="container">
        <center>
            <p><a href="/user/<%= drawing.artist_googleId %>"><img src="<%= drawing.artist_avatar%>" height="25px" width="25px"/><b> <%= drawing.artist_displayName %></b></a>  drew: </p>
            <p> Drawn on: <%= drawing.createdAt.getDate() %>/<%= drawing.createdAt.getMonth() + 1 %>/<%= drawing.createdAt.getFullYear() %></p>
            <a href="/drawing/<%= drawing._id%>"><img src="<%= drawing.src %>" class="img_i"/> </a><br />                 
            <%= drawing.likes %> like(s)
            <p> Owned by <a href="/user/<%= drawing.owner_googleId %>"><img src="<%= drawing.owner_avatar%>" height="25px" width="25px"/> <%= drawing.owner_displayName %></a></p>
        </center>
    </main>
</body>

</html>
