<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <main role="main" class="container">
        <center>
            <p><a href="/user/<%= drawing.googleId %>"><img src="<%= drawing.avatar%>" height="25px" width="25px"/></a> <b><%= drawing.name %></b> drew: </p>
            <a href="/drawing/<%= drawing._id%>"><img  src="<%= drawing.src %>" height="300px" width="300px"/> </a><br />                 
            <a href="/like/<%= drawing._id %>">Like</a> (<%= drawing.likes %>)
        </center>
    </main>
</body>

</html>
