<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <main role="main" class="container">
        <h1>To Upload Image on mongoDB</h1>
        <hr>
        <div class="container">
            <form action="/" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Image Title</label>   <br />
                    <input type="text" id="name" placeholder="Name"
                        value="" name="name" required>
                </div>
                <div class="form-group">
                    <label for="desc">Image Description</label>   <br />
                    <textarea id="desc" name="pesc" value="" rows="2"
                            placeholder="Description" required>
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="image">Upload Image</label>   <br />
                    <input type="file" id="image"
                        name="image" value="" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>
    
        <hr>
    
        <h1>Uploaded Images</h1>
        <div>
            <% items.forEach(function(image) { %>
            <div>
                <div>
                    <img src="data:image/<%=image.img.contentType%>;base64,
                        <%=image.img.data.toString('base64')%>">
                    <div>
                        <h5><%= image.name %></h5>
                        <p><%= image.desc %></p>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>


    </main>

    <script>
        // create canvas element and append it to document body
        var canvas = document.createElement('canvas');
        document.body.appendChild(canvas);

        // some hotfixes... ( ≖_≖)
        document.body.style.margin = 0;
        canvas.style.position = 'fixed';

        // get canvas 2D context and set him correct size
        var ctx = canvas.getContext('2d');
        resize();

        // last known position
        var pos = { x: 0, y: 0 };

        window.addEventListener('resize', resize);
        document.addEventListener('mousemove', draw);
        document.addEventListener('mousedown', setPosition);
        document.addEventListener('mouseenter', setPosition);

        // new position from mouse event
        function setPosition(e) {
            pos.x = e.clientX;
            pos.y = e.clientY;
        }

        // resize canvas
        function resize() {
            ctx.canvas.width = window.innerWidth;
            ctx.canvas.height = window.innerHeight;
        }

        function draw(e) {
            // mouse left button must be pressed
            if (e.buttons !== 1) return;

            ctx.beginPath(); // begin

            ctx.lineWidth = 5;
            ctx.lineCap = 'round';
            ctx.strokeStyle = '#c0392b';

            ctx.moveTo(pos.x, pos.y); // from
            setPosition(e);
            ctx.lineTo(pos.x, pos.y); // to

            ctx.stroke(); // draw it!
        }
    </script>
</body>

</html>
