<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <main role="main" class="container">
        <h1>To Upload Image on mongoDB</h1>
        <hr>
        <div class="container">
            <form action="/" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Image Title</label>   <br />
                    <input type="text" id="name" placeholder="Name"
                        value="" name="name" required>
                </div>
                <div class="form-group">
                    <label for="desc">Image Description</label>   <br />
                    <textarea id="desc" name="pesc" value="" rows="2"
                            placeholder="Description" required>
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="image">Upload Image</label>   <br />
                    <input type="file" id="image"
                        name="image" value="" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </div>
            </form>
        </div>

        <img id="testImg" src="test.png" />
    
        <hr>
    
        <h1>Uploaded Images</h1>
        <div>
            <% items.forEach(function(image) { %>
            <div>
                <div>
                    <img src="data:image/<%=image.img.contentType%>;base64,
                        <%=image.img.data.toString('base64')%>">
                    <div>
                        <h5><%= image.name %></h5>
                        <p><%= image.desc %></p>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </main>
</body>

</html>
