<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <main role="main" class="container">
        <div class="drawings">
            <% let i = 0 %>
            <% drawings.forEach(drawing => { %>
                <% i++; %>
                <div class="drawing">
                    <p><a href="/user/<%= drawing.googleId %>"><img src="<%= drawing.avatar%>" height="25px" width="25px"/></a> <b><%= drawing.name %></b> drew: </p>
                    <img id="drawing<%= i %>" src="<%= drawing.src %>" height="150px" width="150px"/> <br />                 
                    <a href="/like/<%= drawing._id %>"><img src="heart.png" height="25px" width="25px"></img></a> <%= drawing.likes %>
                </div> 
            <% }) %>   
        </div>
    </main>
</body>

</html>
