<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <main role="main" class="container">
        <div class="drawings">
            <h3>Blockchain</h3>
            <p><a href="/blockchain">View</a> blockchain</p>
            <h3> Drawings</h3>
            <p> sort by | <a href="/top">most liked</a> | <a href="/new">Newest first</a> | <a href="/old">Oldest first</a> |</p>
            <% drawings.forEach(drawing => { %>
                <div class="drawing">
                    <p><a href="/user/<%= drawing.owner_googleId %>"><img src="<%= drawing.owner_avatar%>" height="25px" width="25px"/><b> <%= drawing.owner_displayName %></b> </a><br /> owns: </p>
                    <a href="/drawing/<%= drawing._id%>"><img  src="<%= drawing.src %>" height="150px" width="150px"/> </a><br />                 
                    <a href="/like/<%= drawing._id %>"><img src="heart.png" height="25px" width="25px"></img></a> <%= drawing.likes %>
                </div> 
            <% }) %>   
        </div>
    </main>
</body>

</html>
