<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <main role="main" class="container">
        <div class="profile-header">
            <img src="<%= profile_user.image %>" alt="<%= profile_user.googleId %>" height="50px" width="50px">
            <h1> <%= profile_user.displayName %></h1>
            <p> Joined on: <%= profile_user.createdAt.getDate() %>/<%= profile_user.createdAt.getMonth() + 1 %>/<%= profile_user.createdAt.getFullYear() %> </p>
            <p><a href="/user/block/<%= profile_user.googleId %>">Block</a></p>
        </div>
        <% if(profile_user.googleId != user.googleId) { %>
            <h2> Send <a href="/trade/<%= profile_user.googleId %>">trade offer</a></h2>    
        <% } %>
        <div class="drawings">
            <h3> Owned drawings: </h3>
            <% drawings.forEach(drawing => { %>
                <div class="drawing">
                    <p><a href="/user/<%= drawing.artist_googleId %>"><img src="<%= drawing.artist_avatar%>" height="25px" width="25px"/><b><%= drawing.artist_displayName %></b> </a> drew: </p>
                    <a href="/drawing/<%= drawing._id%>"><img  src="<%= drawing.src %>" height="150px" width="150px"/> </a><br />                     
                    <a href="/like/<%= drawing._id %>">
                        Like (<%= drawing.likes %>)
                    </a>
                </div> 
            <% }) %>
        </div>    
    </main>
</body>

</html>
