<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <main role="main" class="container">
        <img src="<%= profile_user.image %>" alt="<%= profile_user.googleId %>" height="50px" width="50px">
        <h1> <%= profile_user.displayName %></h1>
        <h2> Send <a href="/trade/<%= profile_user.googleId %>">trade offer</a></h2>
        <% drawings.forEach(drawing => { %>
            <div class="drawing">
                <p><img src="<%= drawing.avatar%>" height="25px" width="25px"/> <b><%= drawing.name %></b> drew: </p>
                <img id="drawing" src="<%= drawing.src %>" height="150px" width="150px"/> <br />                    
                <a href="/like/<%= drawing._id %>">
                    Like (<%= drawing.likes %>)
                </a>
            </div> 
        <% }) %>   
    </main>
</body>

</html>
