<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <main role="main" class="container">
        <div class="profile-header">
            <img class="profile_avatar" src="<%= user.image %>" alt="<%= user.displayName %>" height="50px" width="50px">
            <h1 class="profile_title"> <%= user.displayName %></h1>
        </div>

        <div class="card-body">
            <h3 class="card-title">Blockchain</h3>
            <p class="card-text">View <a href="/settings/blockchain">blockchain</a></p>
        </div>
        <div class="card-body">
            <h3> Blocked users </h3>
            <% if(user.blocked != 0) { %>
                <% user.blocked.forEach(blocked_user => { %>
                    <div class="blocked_user">
                        <p> <%= blocked_user %> <a href="/user/unblock/<%= blocked_user %>">Unblock user</a></p>
                    </div>
                <% }) %>
            <% } else { %>
                <p class="card-text"> You haven't blocked anyone ...for now </p>
            <% } %>
        </div>

        <div class="card-body">
            <h3 class="card-title">Rules</h3>
            <p class="card-text">View <a href="/rules">rules</a></p>
            <p> Your strikes: <%= user.strikes %>/3</p>
        </div>

        <div class="card-body">
            <h3> Privacy options </h3>
            <form action="/settings/privacy" method="POST">
                <p>Who can send you trade request's?</p>
                <input type="radio" id="no_one" name="privacy" value="no_one">
                <label for="no_one">No one</label><br>
                <input type="radio" id="friends" name="privacy" value="friends">
                <label for="friends">Friends</label><br>  
                <input type="radio" id="everyone" name="privacy" value="everyone">
                <label for="everyone">Everyone</label><br>
                <input class="btn btn-dark" type="submit" value="Save changes">
            </form> 
        </div>  
    </main>
</body>

</html>
