<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <main role="main" class="container">
        <% if(incoming.length === 0 && outgoing.length === 0) { %>
            
            <div class="card-body">
                <p class="card-text"> 
                    You have no incoming or outgoing trade requests...  <br />
                    <a href="/user">...return to profile</a>
                </p>
                
            </div> 
        <% } else { %>
            <% if(incoming.length != 0) { %>
                <h2> Incoming </h2>
                <% incoming.forEach(trade => { %>
                    <div class="trade">
                        <form action="/trade/accept" method="POST">
                            <h3>your: </h3>
                            <% trade.receiver_drawings.forEach(drawing => { %>
                                <a href="/drawing/<%= drawing %>"><%= drawing %></a>
                                <input type="hidden" id="receiver_drawings" value="<%= drawing %>" name="receiver_drawings" required>
                            <% }) %>
                            <h3>for their: </h3>
                            <% trade.sender_drawings.forEach(drawing => { %>
                                <a href="/drawing/<%= drawing %>"><%= drawing %></a>
                                <input type="hidden" id="sender_drawings" value="<%= drawing %>" name="sender_drawings" required>
                            <% }) %>
                            <div class="form-group">
                                <input type="hidden" id="_id" value="<%= trade._id %>" name="_id" required>
                                <input type="hidden" id="sender" value="<%= trade.sender_id %>" name="sender" required>
                                <input type="hidden" id="receiver" value="<%= trade.receiver_id %>" name="receiver" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-dark">Accept</button>
                            </div>
                        </form>
                                        
                        <form action="/trade/decline" method="POST">
                            <div class="form-group">
                                <input type="hidden" id="_id" value="<%= trade._id %>" name="_id" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-dark">Decline</button>
                            </div>
                        </form>
                    </div> 
                <% }) %>  
            <% } %>
            <% if(outgoing.length != 0) { %>
                <h2> Outgoing </h2>
                <% outgoing.forEach(trade => { %>
                    <div class="trade">
                        <h3>your: </h3>
                        <% trade.sender_drawings.forEach(drawing => { %>
                            <a href="/drawing/<%= drawing %>"><%= drawing %></a>
                        <% }) %>
                        <h3>for their: </h3>
                        <% trade.receiver_drawings.forEach(drawing => { %>
                            <a href="/drawing/<%= drawing %>"><%= drawing %></a>
                        <% }) %>
                        <form action="/trade/cancel" method="POST">
                            <div class="form-group">
                                <input type="hidden" id="_id" value="<%= trade._id %>" name="_id" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-dark">Cancel</button>
                            </div>
                        </form>
                    </div> 
                <% }) %>   
            <% } %>
        <% } %>
        
    </main>
</body>

</html>
