<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <main role="main" class="container">
        <% if(incoming.length != 0) { %>
            <h2> Incoming </h2>
            <% incoming.forEach(trade => { %>
                <div class="trade">
                    <h3>your: </h3>
                    <% trade.receiver_drawings.forEach(drawing => { %>
                        <a href="/drawing/<%= drawing %>"><%= drawing %></a>
                    <% }) %>
                    <h3>for their: </h3>
                    <% trade.sender_drawings.forEach(drawing => { %>
                        <a href="/drawing/<%= drawing %>"><%= drawing %></a>
                    <% }) %>
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark">Decline</button>
                    </div>
                </div> 
            <% }) %>  
        <% } %>
        <% if(outgoing.length != 0) { %>
            <h2> Incoming </h2>
            <% outgoing.forEach(trade => { %>
                <div class="trade">
                    <h3>your: </h3>
                    <% trade.sender_drawings.forEach(drawing => { %>
                        <a href="/drawing/<%= drawing %>"><%= drawing %></a>
                    <% }) %>
                    <h3>for their: </h3>
                    <% trade.receiver_drawings.forEach(drawing => { %>
                        <a href="/drawing/<%= drawing %>"><%= drawing %></a>
                    <% }) %>
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark">Decline</button>
                    </div>
                </div> 
            <% }) %>   
        <% } %>
         
 
           
    </main>
</body>

</html>
