<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <main role="main" class="container">
        <% if(incoming_trades.length != 0) { %>
            <h2> Incoming </h2>
            <% incoming_trades.forEach(trade => { %>
                <div class="trade">
                    <%= trade.trade_id %>
                    <p>your: </p>
                    <% trade.outgoing_drawings.forEach(drawing => { %>
                        <img src="<%= drawing.src %>" height="100px" width="100px">
                    <% }) %>
                    <p>for their: </p>
                    <% trade.incoming_drawings.forEach(drawing => { %>
                        <img src="<%= drawing.src %>" height="100px" width="100px">
                    <% }) %>
                    
                    <form action="/accept/<%= trade.trade_id %>">
                        <input type="submit" class="btn btn-dark" value="Accept" />
                    </form>
                    <form action="/decline/<%= trade.trade_id %>">
                        <input type="submit" class="btn btn-dark" value="Decline" />
                    </form>
                </div>
            <% }) %>  
        <% } %>
        <% if(outgoing.length != 0) { %>
            <h2> Outgoing </h2>
            <% outgoing.forEach(trade => { %>
                <div class="trade">
                    <%= trade._id %>
                    <p>your: </p>
                    <% trade.receiver_drawings.forEach(drawing => { %>
                        <a href="/drawing/<%= drawing %>"><%= drawing %></a>
                    <% }) %>
                    <p>for their: </p>
                    <% trade.sender_drawings.forEach(drawing => { %>
                        <a href="/drawing/<%= drawing %>"><%= drawing %></a>
                    <% }) %>
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark">Cancel</button>
                    </div>
                </div> 
            <% }) %>
        <% } %>
         
 
           
    </main>
</body>

</html>
